$primary-color: #FFD139;
$primary-color-alt:#29F0EF;
$primary-color-alt-hover:darken($primary-color-alt, 10%);
$overlay-color:#001B30;
$text-color:#172530;
$text-color-alt:#3B5C76;


// fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font:'Open Sans', sans-serif;